<div>
	<h1>Welcome, Lore Hunter!</h1>

	<h3>Lore Hunt is a collection of essays about the world or Bloodborne that work together to create a comprehensive and cohesive thesis of the story behind the game.</h3>

<div class="home">
	<div>The Lore Hunt thesis is an interpretation of the world of Bloodborne meant for the entertainment of those who like to dwell upon the secrets of the cosmos. There are no claims here of achieving <i>The</i> Eldritch Truth, only an attempt to contemplate these topics on higher planes of thought.</div>
	<div class="center">
		<a class="home" href="{{ '/topics' | relative_url }}"> View Topics</a>
	</div>
</div>

<div class="home">
	<blockquote>I like reading about how gamers interpret or think about the story and world of my games. So I don't want to rob them of that space for open interpretation. <small>Hidetaka Miyazaki</small></blockquote>
	<div>Essays on Lore Hunt are open for peer review. If you find an essay that contradicts the game -- or another Lore Hunt essay -- send some feedback.</div>
	<div class="center">
		<a class="home" href="{{ site.github.repository_url }}/issues">
			View Discussions
		</a>
	</div>
</div>

<div class="home">
  <div>Lore Hunt is a labor of love, involving multiple disciplines. Check the news section if you are interested in the metacongnition behind the essays, or want to participate in discussions about future topics.</div>
  <div class="center">
  	<a class="home" href="{{ '/news' | relative_url }}">View News</a>
  </div>
</div>

<div class="home last">
	<div>Have a topic you want to learn more about?</div>
	<div class="center">
		<a class="home" href="{{ site.github.repository_url/issues/new }}">Request Topic</a>
	</div>
</div>