<div id="history">
test
</div>

<script>
	const url = 'https://api.github.com/repos/Hamilton-DFP/lorehunt/commits?path=_posts/2021-01-03-Test.md'
	const xhr = new XMLHttpRequest();

	xhr.open('GET', url);
	xhr.send();
	xhr.onreadystatechange = setDate()

	function setDate() {
		return function() {
			let commits;
			if(xhr.readyState !== 4 || xhr.status != 200) return

			commits = JSON.parse(xhr.responseText)
			if(commits && commits.length) {
				const date = commits[0].commit.author.date

				const history = document.getElementById('history')
				history.innerHTML = date 
			}	
		}
	}
</script>