<script>
	let date

	var url = 'https://api.github.com/repos/Hamilton-DFP/lorehunt/commits?path=_posts/2021-01-03-Test.md'
	var xhr = new XMLHttpRequest();

	xhr.open('GET', url);
	xhr.send();
	xhr.onreadystatechange = setDate()

	function setDate(callback) {
		return function() {
			var commits;
			if(xhr.readyState !== 4 || xhr.status != 200) return

			commits = JSON.parse(xhr.responseText)
			if(commits && commits.length) {
				date = commits[0].commit.author.date
			}	

			if(callback)
				callback()
		}
	}

	function setHistory() {
		if(xhr.readState == 4 && xhr.state == 200) {
			var history = document.getElementById('history')
			history.innerHTML = date 
		} else xhr.onreadstate = setDate(setHistory)
	}
</script>

<div id="history">
test
</div>

<script>
  
</script>