<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      
      {% include header.html %}

      <section {% if page.lorehunt.page-type %}class='{{ page.lorehunt.page-type }}'{% endif %}>
          {% if page.lorehunt.include %}
            {% include {{ page.lorehunt.include }} %}
          {% else %}
            {{ page.content }}
          {% endif %}
      </section>
      
      {% unless page.lorehunt.no-footer %}
        {% include footer.html %}
      {% endunless %}

    </div>
  </body>
</html>